<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chart</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>DevRadar: FIND THE JOB THAT DESERVES YOU!</header>
    <main>
        <div class="flex-container">
            <div id="drag-down" class="left-side">
                <form id="drag-down-form">
                    <div class="chart-window">
                    <label for="data-points">No of data:</label>
                    <button id="show-butt" type="submit">SEE</button>
                        <div id="drag-down-menu">
                            <select name="data-points" id="data-points" class="form-select">
                                <optgroup label="Numbers Group"> 
                                    <option value="10" selected>10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </optgroup>
                        </select>
                        </div>
                    </div>
                </form>
                <div id="chartContainer" style="display: none;">
                    <canvas id="myChart"></canvas>
                </div>
                <div>
                    <p id="drag-down-error"></p>
                </div>
            </div>

            <!-- conatainer for search bar -->
            <div id="search" class="right-side">
                <form>
                    <!-- supposed seqarch bar -->
                    <input type="text" placeholder="Search a job" id="job-val">
                    <button type="submit" id="search-butt">Search</button>
                </form>
                <div id="query-val">

                </div>
                <div>
                    <p id="search-error"></p>
                </div>
            </div>
        </div>
    </main>

    

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx = document.getElementById('myChart');
    let myChartInstance= null
    
    async function prepare_chart(event) {
        const error_msg = document.getElementById("drag-down-error")
        error_msg.textContent = ""
        if (event) event.preventDefault();
        try{
        const response = await fetch('/api/skills');
        const data_point = document.getElementById('data-points');
        const data_value = parseInt(data_point.value, 10)
        const chartContainer = document.getElementById('chartContainer');
        if (!response.ok){
            console.log(`HTML STATUS ERROR: ${response.status}`)
            error_msg.textContent = '"error": "Service unavailable"'
            throw new Error(`HTML STATUS ERROR: ${response.status}`)
        } else{
        const rawData = await response.json()
        const requiredData = rawData.slice(0,data_value)
        const chartLabel = requiredData.map(item => item.skill)
        const chartValues = requiredData.map(item => item.count)

        chartContainer.style.display = 'block';
        if (myChartInstance) {
            myChartInstance.destroy();
        }

        myChartInstance= new Chart(ctx, {
            type: 'bar',
            data: {
            labels: chartLabel,
            datasets: [{
                label: '# of Mentions',
                data: chartValues,
                borderWidth: 1
            }]
            },
            options: {
            scales: {
                y: {
                beginAtZero: true
                }
            }
            }
        });
        console.log("Data retrieved successfully:", rawData)}
        }catch (error){
            console.log("Fetch operation failed:",error)
        }
    }

    prepare_chart()
    // function by search
    async function search_route(event) {
        const search_error = document.getElementById('search-error')
        search_error.textContent =""
        event.preventDefault();
        try{
            const job_val = document.getElementById('job-val')
            const searchQuery = job_val.value || job_val.textContent;
            const response = await fetch(`/api/jobs/search/?query=${encodeURIComponent(searchQuery)}`)
            if (!response.ok){
            console.log(`HTML STATUS ERROR: ${response.status}`)
            search_error.textContent= '"error": "Service unavailable"'
            throw new Error(`HTML STATUS ERROR: ${response.status}`)
            } else{
            const rawData = await response.json()
            const output= document.getElementById('query-val')
            rawData.forEach(group => {
                const header = document.createElement('h2')
                const text = document.createElement('p')
                text.innerHTML = '<strong>Skills:</strong>'
                header.textContent = group.position
                output.append(header)
                output.append(text)
                const ul = document.createElement('ul')
                group.tags.forEach(
                    item=>{
                        const li = document.createElement('li')
                        li.textContent = item
                        ul.appendChild(li)
                    }
                )
                output.appendChild(ul)
            })
        }
            
        }
        catch(error){
            console.log("Fetch operation failed:",error)
        }
        
    }

    const drag_down = document.getElementById('drag-down');
    drag_down.addEventListener('submit', prepare_chart);

    const search = document.getElementById('search');
    search.addEventListener('submit', search_route);

    </script>

</body>
</html>